:root {
    --logo-height: 128px;
}


#logotype, #navbar {
    display: inline-block;
    vertical-align: middle;
}
.nav-item {
    display: inline;
}


#logotype-image {
    height: var(--logo-height);
}